# Variable de entorno para conectar el Frontend con el Backend
# En desarrollo local: http://localhost:5000
# En producción (Render / Vercel): https://tu-servicio-backend.onrender.com
VITE_API_URL=http://localhost:5000
